# Credentials
appsettings.json
appsettings.*.json
*.pfx
launchSettings.json

# Build
[Bb]in/
[Oo]bj/
.vs/
*.user

# NuGet
packages/

# IDE
.idea/
.vscode/

# Environment
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db
