openapi: 3.0.3
info:
  title: Grozeo Bizapi
  description: |
    Grozeo e-commerce platform API. Provides endpoints for customer-facing storefront
    operations including authentication, product browsing, cart management, checkout,
    order tracking, and driver delivery management.

    ## Authentication
    Most endpoints require JWT Bearer token authentication.
    Obtain a token via `POST /api/v1/login` and include it as `Authorization: Bearer <token>`.

    ## Multi-tenancy
    All requests are scoped to a store group via the `storegroup_id` derived from the JWT token or request context.

    ## Rate Limiting
    - General API: 600 requests/minute per IP
    - Auth endpoints: 10 requests/minute per IP
  version: 1.0.0
  contact:
    name: Grozeo Engineering
    email: mail@jsabu.com

servers:
  - url: https://bizapi.grozeo.in/api/v1
    description: Production
  - url: http://localhost:8001/api/v1
    description: Local Development

tags:
  - name: Authentication
    description: Login, registration, OTP verification, social login, token management
  - name: Home & Categories
    description: Home screen data, category menus, business types, advertisements
  - name: Products
    description: Product details, search, filtering, browsing by category/brand/concern
  - name: Cart
    description: Shopping cart operations — add, update, remove, checkout flow
  - name: Wishlist
    description: Save/remove items to wishlist, move to cart
  - name: Orders
    description: Order history, tracking, cancellation, returns, invoices
  - name: Customer
    description: Profile management, addresses, wallet, account deactivation
  - name: Checkout
    description: Multi-step checkout — delivery address, slot selection, payment
  - name: Payment
    description: Payment gateway integration, webhooks, redirect handling
  - name: Search
    description: Product search, ElasticSearch-powered search
  - name: Location
    description: Branch/store location lookup, nearest stores
  - name: Documents
    description: Prescription upload, image upload
  - name: Medicine
    description: Medicine reminder, my medicines
  - name: Drivers
    description: Driver authentication, order management, delivery tracking, geolocation
  - name: Health
    description: Service health checks and monitoring
  - name: Admin
    description: Administrative endpoints (ElasticSearch indexing, internal operations)

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /login endpoint

  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
        data:
          type: object

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            msg:
              type: string

    LoginRequest:
      type: object
      required:
        - cust_email
        - password
      properties:
        cust_email:
          type: string
          format: email
          example: customer@example.com
        password:
          type: string
          format: password
          minLength: 6

    TokenResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            access_token:
              type: string
            token_type:
              type: string
              example: bearer
            expires_in:
              type: integer

    Customer:
      type: object
      properties:
        cust_id:
          type: integer
        name:
          type: string
        cust_email:
          type: string
          format: email
        phone:
          type: string
        role:
          type: string
        storegroup_id:
          type: integer

    Address:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        phone:
          type: string
        address_line_1:
          type: string
        address_line_2:
          type: string
        city:
          type: string
        state:
          type: string
        pincode:
          type: string
        landmark:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        is_default:
          type: boolean
        address_type:
          type: string
          enum: [home, work, other]

    Product:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        sku:
          type: string
        price:
          type: number
          format: float
        sale_price:
          type: number
          format: float
          nullable: true
        description:
          type: string
        category_id:
          type: integer
        brand_id:
          type: integer
        brand_name:
          type: string
        stock:
          type: integer
        in_stock:
          type: boolean
        thumbnail:
          type: string
        unit:
          type: string

    CartItem:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        product_name:
          type: string
        quantity:
          type: integer
        price:
          type: number
          format: float
        total:
          type: number
          format: float
        variant:
          type: string
        image:
          type: string

    Order:
      type: object
      properties:
        id:
          type: integer
        order_number:
          type: string
        status:
          type: string
          enum: [pending, confirmed, processing, shipped, delivered, cancelled, returned]
        total:
          type: number
          format: float
        subtotal:
          type: number
          format: float
        delivery_charge:
          type: number
          format: float
        discount:
          type: number
          format: float
        payment_method:
          type: string
        payment_status:
          type: string
          enum: [pending, paid, failed, refunded]
        delivery_type:
          type: string
          enum: [delivery, pickup]
        created_at:
          type: string
          format: date-time

    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        parent_id:
          type: integer
        image:
          type: string
        sort_order:
          type: integer
        is_active:
          type: boolean
        children:
          type: array
          items:
            $ref: '#/components/schemas/Category'

    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded]
        service:
          type: string
        timestamp:
          type: string
          format: date-time
        checks:
          type: object
          properties:
            database:
              type: object
              properties:
                status:
                  type: string
                latency_ms:
                  type: number
            redis:
              type: object
              properties:
                status:
                  type: string
            cache:
              type: object
              properties:
                status:
                  type: string

    AddToCartRequest:
      type: object
      required:
        - product_id
        - quantity
        - order_method
      properties:
        product_id:
          type: integer
        quantity:
          type: integer
          minimum: 1
        order_method:
          type: string
          enum: [delivery, pickup]
        group_id:
          type: integer
        variant:
          type: string

    RegistrationRequest:
      type: object
      required:
        - name
        - cust_email
        - password
        - phone
      properties:
        name:
          type: string
          maxLength: 100
        cust_email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 6
        phone:
          type: string
          maxLength: 15

    OrderCancelRequest:
      type: object
      required:
        - order_id
        - reason
      properties:
        order_id:
          type: integer
        reason:
          type: string
          maxLength: 500

    FeedbackRequest:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          maxLength: 1000
        rating:
          type: integer
          minimum: 1
          maximum: 5
        order_id:
          type: integer

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        from:
          type: integer
        to:
          type: integer

paths:
  # === Authentication ===
  /login:
    post:
      tags: [Authentication]
      summary: Login with email and password
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: JWT token returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /logout:
    post:
      tags: [Authentication]
      summary: Logout and invalidate token
      operationId: logout
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successfully logged out

  /refresh:
    post:
      tags: [Authentication]
      summary: Refresh JWT token
      operationId: refreshToken
      security:
        - BearerAuth: []
      responses:
        '200':
          description: New token returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'

  /me:
    post:
      tags: [Authentication]
      summary: Get authenticated user details
      operationId: getMe
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

  /auth/token/refresh:
    post:
      tags: [Authentication]
      summary: Refresh JWT token (v2 endpoint)
      operationId: authTokenRefresh
      security:
        - BearerAuth: []
      responses:
        '200':
          description: New token with expiry metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer

  /auth/me:
    get:
      tags: [Authentication]
      summary: Get authenticated user profile (v2 endpoint)
      operationId: authGetMe
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile with role info

  # === Signup / Registration ===
  /signup/customer:
    post:
      tags: [Authentication]
      summary: Register a new customer
      operationId: registerCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationRequest'
      responses:
        '200':
          description: Registration successful
        '422':
          description: Validation error

  /signup/verify/{type}:
    post:
      tags: [Authentication]
      summary: Send OTP verification (email/phone)
      operationId: sendVerification
      parameters:
        - name: type
          in: path
          required: false
          schema:
            type: string
            enum: [email, phone]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                phone:
                  type: string
      responses:
        '200':
          description: OTP sent

  /signup/verify/password:
    post:
      tags: [Authentication]
      summary: Verify password for account recovery
      operationId: verifyPassword
      responses:
        '200':
          description: Password verified

  /signup/socials/{type}:
    post:
      tags: [Authentication]
      summary: Social login (Google/Facebook)
      operationId: socialLogin
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [google, facebook]
      responses:
        '200':
          description: Social login successful

  # === Home & Categories ===
  /home/category:
    get:
      tags: [Home & Categories]
      summary: Get top-level categories
      operationId: getCategories
      responses:
        '200':
          description: List of categories

  /home/main/{id}/{order_method}/{btype}/{retailtype}:
    get:
      tags: [Home & Categories]
      summary: Get home screen data for a branch
      operationId: getHomeScreen
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: order_method
          in: path
          required: true
          schema:
            type: string
            enum: [delivery, pickup]
        - name: btype
          in: path
          required: false
          schema:
            type: integer
        - name: retailtype
          in: path
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Home screen content

  /home/categorymenu:
    get:
      tags: [Home & Categories]
      summary: Get category menu list
      operationId: getCategoryMenu
      responses:
        '200':
          description: Category menu tree

  /home/retailertypes/{businessTypeId}:
    get:
      tags: [Home & Categories]
      summary: Get retail types for a business type
      operationId: getRetailTypes
      parameters:
        - name: businessTypeId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of retail types

  /home/offers/{business_type}/{retailtype}/{sort}/{filter_type}/{filter_value}:
    get:
      tags: [Home & Categories]
      summary: Get products on offer
      operationId: getOffers
      parameters:
        - name: business_type
          in: path
          required: false
          schema:
            type: integer
        - name: retailtype
          in: path
          required: false
          schema:
            type: integer
        - name: sort
          in: path
          required: false
          schema:
            type: string
        - name: filter_type
          in: path
          required: false
          schema:
            type: string
        - name: filter_value
          in: path
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Offers listing

  # === Products ===
  /products/item:
    post:
      tags: [Products]
      summary: Get product details by ID
      operationId: getProductDetails
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - product_id
              properties:
                product_id:
                  type: integer
                order_method:
                  type: string
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'

  /products/item/grouped:
    post:
      tags: [Products]
      summary: Get grouped products
      operationId: getGroupedProducts
      responses:
        '200':
          description: Grouped products list

  /products/item/{type}:
    post:
      tags: [Products]
      summary: Get similar/like products
      operationId: getSimilarProducts
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [similar, like]
      responses:
        '200':
          description: Similar products

  /subcategory/products:
    post:
      tags: [Products]
      summary: Get products by subcategory
      operationId: getSubcategoryProducts
      responses:
        '200':
          description: Products in subcategory

  /category/{id}/subcategory:
    get:
      tags: [Home & Categories]
      summary: Get subcategories
      operationId: getSubcategories
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Subcategories list

  /attributes/{type}/{id}:
    get:
      tags: [Products]
      summary: Get product/category attributes
      operationId: getAttributes
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [product, category]
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Attributes list

  /product/sortFilter:
    post:
      tags: [Products]
      summary: Sort and filter products
      operationId: sortFilterProducts
      responses:
        '200':
          description: Filtered products

  # === Search ===
  /search/products-search:
    post:
      tags: [Search]
      summary: Search products by keyword
      operationId: searchProducts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - keyword
              properties:
                keyword:
                  type: string
                  minLength: 2
                page:
                  type: integer
                  default: 1
      responses:
        '200':
          description: Search results

  /es/key/search:
    post:
      tags: [Search]
      summary: ElasticSearch keyword search
      operationId: esKeySearch
      responses:
        '200':
          description: ElasticSearch results

  # === Cart ===
  /cart:
    post:
      tags: [Cart]
      summary: Add item to cart
      operationId: addToCart
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToCartRequest'
      responses:
        '200':
          description: Item added to cart
    put:
      tags: [Cart]
      summary: Update cart item quantity
      operationId: updateCartItem
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - quantity
              properties:
                id:
                  type: integer
                quantity:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Cart item updated

  /cart/{order_method}:
    get:
      tags: [Cart]
      summary: Get cart items
      operationId: getCart
      security:
        - BearerAuth: []
      parameters:
        - name: order_method
          in: path
          required: true
          schema:
            type: string
            enum: [delivery, pickup]
      responses:
        '200':
          description: Cart contents

  /cart/{id}:
    delete:
      tags: [Cart]
      summary: Remove item from cart
      operationId: removeCartItem
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Item removed

  /cart/clear/items/{order_method}:
    delete:
      tags: [Cart]
      summary: Clear all cart items
      operationId: clearCart
      security:
        - BearerAuth: []
      parameters:
        - name: order_method
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cart cleared

  /cart/summary/{order_method}:
    get:
      tags: [Cart]
      summary: Get cart summary (totals, delivery charges)
      operationId: getCartSummary
      security:
        - BearerAuth: []
      parameters:
        - name: order_method
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cart summary

  # === Checkout ===
  /checkout/delivery/step1:
    post:
      tags: [Checkout]
      summary: "Checkout step 1: Select delivery address and branch"
      operationId: deliveryStep1
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - order_method
                - branch_id
              properties:
                order_method:
                  type: string
                branch_id:
                  type: integer
      responses:
        '200':
          description: Step 1 completed

  /checkout/delivery/step2:
    post:
      tags: [Checkout]
      summary: "Checkout step 2: Select delivery slot"
      operationId: deliveryStep2
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Step 2 completed

  /checkout/delivery/step3:
    post:
      tags: [Checkout]
      summary: "Checkout step 3: Payment method selection"
      operationId: deliveryStep3
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Step 3 completed

  /checkout/confirm:
    post:
      tags: [Checkout]
      summary: Confirm and place order
      operationId: confirmOrder
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Order placed successfully

  # === Wishlist ===
  /wishlist:
    post:
      tags: [Wishlist]
      summary: Add item to wishlist
      operationId: addToWishlist
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Item added to wishlist

  /wishlist/{order_method}:
    get:
      tags: [Wishlist]
      summary: Get wishlist items
      operationId: getWishlist
      security:
        - BearerAuth: []
      parameters:
        - name: order_method
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Wishlist items

  /wishlist/{groupId}/{productId}/{order_method}:
    delete:
      tags: [Wishlist]
      summary: Remove item from wishlist
      operationId: removeFromWishlist
      security:
        - BearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
        - name: productId
          in: path
          required: true
          schema:
            type: integer
        - name: order_method
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Item removed

  # === Customer ===
  /customer:
    get:
      tags: [Customer]
      summary: Get customer profile
      operationId: getCustomerProfile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Customer profile data
    put:
      tags: [Customer]
      summary: Update customer profile
      operationId: updateCustomerProfile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Profile updated

  /customer/address:
    get:
      tags: [Customer]
      summary: Get customer addresses
      operationId: getAddresses
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of addresses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Address'
    post:
      tags: [Customer]
      summary: Add new address
      operationId: addAddress
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
      responses:
        '200':
          description: Address added

  /customer/wallet/balance:
    get:
      tags: [Customer]
      summary: Get wallet balance
      operationId: getWalletBalance
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Wallet balance

  /customer/wallet/history:
    get:
      tags: [Customer]
      summary: Get wallet transaction history
      operationId: getWalletHistory
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Transaction history

  # === Orders ===
  /order/list/{order_method}:
    get:
      tags: [Orders]
      summary: Get order history
      operationId: getOrderHistory
      security:
        - BearerAuth: []
      parameters:
        - name: order_method
          in: path
          required: true
          schema:
            type: string
            enum: [delivery, pickup]
      responses:
        '200':
          description: Order list

  /order/summary/{order_id}:
    get:
      tags: [Orders]
      summary: Get order summary
      operationId: getOrderSummary
      security:
        - BearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order summary

  /order/detail/{order_id}:
    get:
      tags: [Orders]
      summary: Get order details with items
      operationId: getOrderDetail
      security:
        - BearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order details with items

  /order/track/{id}:
    get:
      tags: [Orders]
      summary: Get order tracking URL
      operationId: trackOrder
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Tracking information

  /orders/cancel:
    post:
      tags: [Orders]
      summary: Cancel an order
      operationId: cancelOrder
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCancelRequest'
      responses:
        '200':
          description: Order cancelled

  /orders/{orderId}/returnables:
    get:
      tags: [Orders]
      summary: Get returnable products for an order
      operationId: getReturnableProducts
      security:
        - BearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returnable products list

  /orders/returnables/return:
    post:
      tags: [Orders]
      summary: Return selected products
      operationId: returnProducts
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Return initiated

  /orders/invoice:
    post:
      tags: [Orders]
      summary: Get invoice for an order
      operationId: getInvoice
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Invoice data

  # === Location ===
  /location:
    post:
      tags: [Location]
      summary: Get nearest branch location
      operationId: getNearestBranch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - latitude
                - longitude
              properties:
                latitude:
                  type: number
                  format: double
                longitude:
                  type: number
                  format: double
      responses:
        '200':
          description: Nearest branch info

  /branches/list:
    get:
      tags: [Location]
      summary: Get all branches for store group
      operationId: getBranches
      responses:
        '200':
          description: Branch list

  # === State / District ===
  /state/list/{country}:
    get:
      tags: [Location]
      summary: Get states for a country
      operationId: getStates
      parameters:
        - name: country
          in: path
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of states

  /district/list/{state}:
    get:
      tags: [Location]
      summary: Get districts for a state
      operationId: getDistricts
      parameters:
        - name: state
          in: path
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of districts

  # === Documents ===
  /document/uploadprescription:
    post:
      tags: [Documents]
      summary: Upload prescription document
      operationId: uploadPrescription
      security:
        - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Prescription uploaded

  # === Feedback ===
  /feedback:
    post:
      tags: [Customer]
      summary: Submit feedback
      operationId: submitFeedback
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackRequest'
      responses:
        '200':
          description: Feedback submitted

  # === Coupon / Wallet ===
  /coupon-wallet:
    post:
      tags: [Cart]
      summary: Apply coupon or wallet credit
      operationId: applyCoupon
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Coupon applied

  /coupon-remove:
    post:
      tags: [Cart]
      summary: Remove applied coupon
      operationId: removeCoupon
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Coupon removed

  # === Payment ===
  /payment/redirect/{order_group_id}:
    get:
      tags: [Payment]
      summary: Redirect to payment gateway
      operationId: paymentRedirect
      parameters:
        - name: order_group_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '302':
          description: Redirect to payment gateway

  /paymenthook/{paymentgateway}:
    post:
      tags: [Payment]
      summary: Payment webhook callback
      operationId: paymentWebhook
      parameters:
        - name: paymentgateway
          in: path
          required: true
          schema:
            type: string
            enum: [paytm, razorpay, instamojo, stripe, ccavenue, easebuzz, atom, revolut]
      responses:
        '200':
          description: Webhook processed

  # === Misc ===
  /initial:
    get:
      tags: [Home & Categories]
      summary: Get initial app credentials and configuration
      operationId: getInitialConfig
      responses:
        '200':
          description: App configuration

  /regioninfo:
    post:
      tags: [Location]
      summary: Get region information by country
      operationId: getRegionInfo
      responses:
        '200':
          description: Region details

  /app/version/{version}:
    get:
      tags: [Home & Categories]
      summary: Check app version compatibility
      operationId: checkAppVersion
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Version check result

  # === Health ===
  /health:
    get:
      tags: [Health]
      summary: Full health check with dependency status
      operationId: healthCheck
      responses:
        '200':
          description: All systems healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
        '503':
          description: One or more systems degraded

  /health/ping:
    get:
      tags: [Health]
      summary: Simple liveness probe
      operationId: healthPing
      responses:
        '200':
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  service:
                    type: string
                    example: grozeo-bizapi
